# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

*.pkl
*.pt
*.h5
__pycache__/
models/


# SQLite / uploads
app.db
*.sqlite*
uploads/

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
